 @font-face{
     font-family: 'funsized';
     src: url("/Fonts/funsized-webfont.woff");
 }
 @font-face{
     font-family: 'kghappy';
     src: url("/Fonts/kghappy-webfont.woff");
 }

 html {
     background-color: #001f3f;
 }
 
 .game-container{
    margin: 0 auto;
    margin-top: 75px;
    height: 350px;
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid white;
 }

 .cell{
    display: flex;
    border: 2px solid white;
    font-size: 75px;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'funsized';
    
 }

.header {
    color: white;
    display: absolute;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'kghappy'
}